extends layout

block content
  div
    div(class='pop option')
      form(class='form-horizontal', action='', method='post')
        div(class='control-group title-well')
          center
            span(class='title-form-center') Paramètrage
        center
          span(class='title-msg')
          div(class='control-group')
            label(class='control-label form-label-small') Start Money :
            div(class='controls')
              input(type='text', name='startmoney', placeholder='#{startmoney}', value='#{startmoney}')
        div(class='btn-area')
          button(name='valider', class='btn btn-success') Enregistrer
          button(name='cancel', class='btn btn-warning') Cancel