doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='socket.io/socket.io.js')
    script(src='js/libs/jquery.min.js')
    script(data-main='js/main', src='js/libs/require.js')
  body(class='space')
    div(class='navbar navbar-inverse navbar-fixed-top')
      div(class='navbar-inner')
        div(class='container-fluid')
          a(class='brand', href='/')= title
          div(class='nav-collapse collapse')
            p(class='navbar-text pull-right') Connecter sur le panel Admin
            ul(class='nav')
              li
                a(href='/') Game
              li
                a(href='/logout') Deconnexion
              li(class='active')
                a(href='/admin') Admin
    div(class='container-fluid')
      div(class='row-fluid')
        block content