extends layout

block content
  div
    div(class='gamezone')
      div(id='gameinfo')
        img(src='img/gamepad-on.png', class='gamepad')
      div(id='gamedata') 
        |Coord X : 
        span(class='coordX')
        br
        |Coord Y : 
        span(class='coordY')
        br
        |Fertility : 
        span(class='humidity')
        br
        |Humidity : 
        span(class='fertility')
        br
        |Météo : 
        span(class='meteo')
      canvas(id='gamearea', width='874', height='540')
    div(class='dialogfont')
    if (user == 'null')
      div(class='dialogpoparea')
        div(class='pop login')
          form(class='form-horizontal', action='', method='post')
            div(class='control-group title-well')
              center
                span(class='title-form-center') Identifiez-vous ...
            center
              span(class='title-msg')
              div(class='control-group')
                label(class='control-label form-label-small') Email :
                div(class='controls')
                  input(type='text', name='email', placeholder='Email')
              div(class='control-group')
                label(class='control-label form-label-small') Password :
                div(class='controls')
                  input(type='password', name='pwd', placeholder='Password')
            div(class='btn-area')
              button(name='connecter', class='btn btn-success') Connecter
              button(name='register', class='btn btn-info') Register
        div(class='pop register')
          form(class='form-horizontal', action='', method='post')
            div(class='control-group title-well')
              center
                span(class='title-form-center') Vous Enregistrer ...
            center
              span(class='title-msg')
              div(class='control-group')
                label(class='control-label form-label-small') Email :
                div(class='controls')
                  input(type='email', name='email', placeholder='Email')
              div(class='control-group')
                label(class='control-label form-label-small') Password :
                div(class='controls')
                  input(type='password', name='pwd', placeholder='Password')
              div(class='control-group')
                label(class='control-label form-label-small') Re-Password :
                div(class='controls')
                  input(type='password', name='pwd2', placeholder='Re-Password')
              div(class='control-group')
                label(class='control-label form-label-small') Username :
                div(class='controls')
                  input(type='text', name='user', placeholder='Username')
            div(class='btn-area')
              button(name='valider', class='btn btn-success') Enregistrer
              button(name='cancel', class='btn btn-warning') Cancel
        div(class='pop startgame')
          form(class='form-horizontal', action='', method='post')
            div(class='control-group title-well')
              center
                span(class='title-form-center') Start Préférence ...
            center
              span(class='title-msg')
              //- div(class='control-group')
              //-   label(class='inline') Personnage :
              //-     div(class='persoselector inline')
              //-       div(class='p inline')
              //-         div(class='perso m selected', title='m')
              //-       div(class='p inline')
              //-         div(class='perso f', title='f')
              //-     div(class='clear')
              input(type='hidden', name='perso', value='1')
              div(class='control-group')
                label(class='radio inline')
                  input(type='radio', name='difficulty', value="easy")
                  |Easy
                label(class='radio inline')
                  input(type='radio', name='difficulty', value="medium", selected)
                  |Medium
                label(class='radio inline')
                  input(type='radio', name='difficulty', value="hard")
                  |Hard
            div(class='btn-area')
              button(name='valider', class='btn btn-success') Start
    else
      unless user._usergame
        div(class='dialogpoparea')
          div(class='pop startgame show')
            form(class='form-horizontal', action='', method='post')
              div(class='control-group title-well')
                center
                  span(class='title-form-center') Start Préférence ...
              center
                span(class='title-msg')
                //- div(class='control-group')
                //-   label(class='inline') Personnage :
                //-     div(class='persoselector inline')
                //-       div(class='p inline')
                //-         div(class='perso m selected', title='m')
                //-       div(class='p inline')
                //-         div(class='perso f', title='f')
                //-     div(class='clear')
                input(type='hidden', name='perso', value='1')
                div(class='control-group')
                  label(class='radio inline')
                    input(type='radio', name='difficulty', value="easy")
                    |Easy
                  label(class='radio inline')
                    input(type='radio', name='difficulty', value="medium", selected)
                    |Medium
                  label(class='radio inline')
                    input(type='radio', name='difficulty', value="hard")
                    |Hard
              div(class='btn-area')
                button(name='valider', class='btn btn-success') Start
      else
        div(class='dialogpoparea')
          div(class='pop game')
              form(class='form-horizontal', action='', method='post')
                div(class='control-group title-well')
                  center
                    span(class='title-form-center') Start Game ...
                div(class='btn-area')
                  button(name='valider', class='btn btn-success') Start