doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='socket.io/socket.io.js')
    script(src='js/libs/jquery.min.js')
    script(src='js/libs/gamepad.min.js')
    script(data-main='js/main', src='js/libs/require.js')
  body(class='space')
    div(class='navbar navbar-inverse navbar-fixed-top')
      div(class='navbar-inner')
        div(class='container-fluid')
          a(class='brand', href='/') #{title}
          div(class='nav-collapse collapse')
            p(class='navbar-text pull-right') 
            ul(class='nav')
              li(class='active')
                a(href='/') Game
              if (user != 'null')
                li
                  a(href='/logout') Deconnexion
              if (user.type == 1)
                li
                  a(href='/admin') Panel Admin
    div(class='container-fluid')
      div(class='row-fluid')
        block content